*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
}
html{
    font-size: 56%;
    overflow-x:hidden ;
    scroll-behavior: smooth;
}
html ::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
background: var(--clrl);
}
section{
    padding: 7rem 9%;
    margin-top: 7rem;
}
.btn{
 margin-top:2rem;
 padding: 1.3rem 4rem;   
font-size: 1.5rem;
text-transform:capitalize;
letter-spacing: .1rem;
font-weight: 600;
color:black;
background-color: var(pink);
box-shadow:rgba(0,0,0,0.4);
transition: all 0.3s ease all;
cursor: pointer;
outline: none;
}
.btn:hover{
    transform: translateY(-1rem);
    transition: all .5s ease;
}
.title{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}
.title span{
  color: darkblue;
  font-size: 4rem;  
}
.title p{
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
}
/*--------header section-------------*/
.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:blue;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bx{
    color: red;;
}
.head .logo{
    font-size: 2.5 rem;
    color:blue ;
    font-weight:600;
    letter-spacing:  .1rem;
}
span{
    color: aqua;
}
.navbar{
    justify-content: space-between;
}
.head .navbar{
     font-size: 1.8rem;
     font-weight: 500;
}
.head .navbar a{
    padding-left: 1.5rem;
    color: white;
}
#menu-bar{
    display: flex;
    color: pink;
}
/*--------------------home--------------*/
.home{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4),url("back.jpeg"));
background-position: center;
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
align-items: center;
height: 80vh;
background-image: url("back.jpeg");

}
.search-box{
    margin: 20rem 0 0 0;
    color:black;
    text-align: center;
}
.search-box h1{
    font-size: 5.5rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .2rem;
}
.search-box p{
    font-size: 1.8rem;
    margin: .5rem;

}
.search-field{
    width: 25rem;
    height: 4.5rem;
    font-size: 1.5rem;
    font-weight:600;
    color: beige;

}
/*-------------services-----------*/
.services-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
.services-col{
  height: 22rem;
  color: pink;  
  background-image: url("back2.avif");
  background-color: beige;
  background-size: cover;
  border-radius: 15px;
  flex: 1 1 25rem;
  padding: 1.2rem;
margin:1.5rem ;
}
.services-col i{
    padding: 2.2rem;
    border: none;
    background: aliceblue;
    color: black;
    border-radius: 5rem;
    font-size: 3rem;

}
.services-col h2{
    padding: 1rem 0;
    font-size: 2rem;
}
.services-col p{
    font-size: 1.2rem;
    color: black;
}

/**------------------------------vendor---------------*/
.vendor-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center ;

}
.vendor .ventor-row{
    max-width: 1300px;
    background: rgb(245,236,245);
    height: 35rem;
    flex: 1 1 30rem;
    padding: 1.2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.2rem .5rem var(--clrl);
}
.vendor-row:hover{
    transform: rotate(5deg);
    transition: 1s cubic-bezier(0.075,0.02,0.165,1);
}
.vendor-row .rate{
    width: 6rem;
    padding: .5rem .1rem;
    color: black;
    background: beige;
    font-size: 1.6rem;
    font-weight: 400;

}
.vendor .vendor-row img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.vendor-row h2{
    font-size: 2rem;
font-weight: 600;
}
.vendor-row p{
    font-size: 1.2rem;
    font-weight: 500;
    color: yellow;
}
.vendor-row h3{
    font-size: 3rem;
    text-align: center;
    color: black;
    background: beige;
}

/*----------venue list---------*/
.venue .venue-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.venue .venue-list .venue-box{
    flex: 1 1 50rem;
    margin: 1rem;
    position: relative;
    border-radius: .6rem;
    overflow: hidden;
    height: 20rem;
}
 .venue .venue-list .venue-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .venue .venue-list .venue-box .venue-info{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: black;
    background: rgba(46,39,40,0.5);
    transform: scale(1.3);
    opacity: 0;
    transition: 1s ease;

 }
 .venue .venue-list .venue-box:hover .venue-info{
    transform: scale(1);
    opacity: 1;
 }
 .venue .venue-list .venue-box .venue-info h2{
    font-size: 3rem;
    letter-spacing: .1rem;
 }
 .venue .venue-list .venue-box .venue-info p{
    font-size: 2rem;
    letter-spacing: .1rem;
    color: white;
 }

 /*-------------invitation--------------*/
 .invite .invitation-row{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
 }
 .invite .invitation-row .invitation-box{
    flex: 1 1 25rem;
    margin: 1rem;
    position: relative;
    border: .2rem dotted solid black;
    padding: 2rem;
    border-radius: .6rem;
    overflow: hidden;
    height: 20rem;
 }
 .invite .invitation-row .invitation-box:hover{
    transform: translateY(-2rem);
    transition: .5s ease;

 }
 .invite .invitation-row .invitation-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 /*------------footer section------------*/
 footer{
    padding: 5rem 5%;
 }
 #contact{
    background: blue;

 }
 .container{
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
 }
 .f-container{
   flex: 1 1 30rem;
 }
 .f-container h2{
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
 }
 .f-container a{
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    padding: 1rem 0;
    display:block ;
 }
 .f-container a:hover{
    transform: translateX(.5rem);
    transition: .5s ease;

 }
 .f-container i{
    padding-right: .5rem;
color: black;
}
.f-container p{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: black;
}
.f-container input{
    width: 90%;
    padding:1rem;
    background: lightblue;
    border:.2rem solid black;
}
.f-container .btn{
background: red;
color: black;
cursor: pointer;
margin-top: 2rem;
border-radius: .2rem;
}
.f-container .social i{
 margin-top: 1rem;
 font-size: 2rem;
 background: lightpink;
 border-radius: 1rem;
 padding: 1rem;

}
.f-container .social i:hover{
    transform: rotate(360deg);
    transition: 1s ease;

}
/*------------------------------media query-------------------*/
@media(max-width:1200px){
    html{
font-size: 55%;
    }
    .head{
        padding: 3rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:991px ) {
    html{
        font-size: 55%;
    }
    .head{
        padding: 3rem;

    }
    #menu-bar{
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        background: blue;
    }
}